build/
.cache
cmake
.clang-tidy
.DS_Store
.clang-format
*.o
*.out
*.log
BraiiiiiiinnnzzzZ
moar_brainz
hithisisbrain
en.subject.pdf
violence
sedisforlosers
ex04/filename
ex04/filename.replace
Harl_2_0
harlFilter
